<%# locals: (contestant:, background_class: nil) %>

<li class="flex items-center px-6 py-4 text-lg gap-4 <%= background_class %>">
  <div class="flex flex-grow gap-4 items-center">
    <div class="font-semibold w-6"><%= contestant.place %></div>
    <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full">
      <% if contestant.player.user.photo.attached? %>
        <%= image_tag contestant.player.user.photo.representation(resize_to_limit: [40, 40]), class: "w-full h-full object-cover" %>
      <% else %>
        <span class="font-medium text-gray-600"><%= contestant.initials %></span>
      <% end %>
    </div>
    <div class="font-semibold w-[calc(100vw-18.5rem)] sm:w-[9.5rem] whitespace-nowrap overflow-hidden truncate"><%= contestant.name %></div>
  </div>
  <div class="w-20 text-right"><%= contestant.signed_score_difference %> pts</div>
  <div class="w-10 text-right"><%= contestant.position_update %></div>
</li>
