<div class="flex flex-col justify-center text-4xl font-extrabold tracking-[-0.04em] text-center h-50 py-8">
  Past <%= @current_game.title %> Matches
</div>
<div class="flex flex-col flex-grow overflow-y-auto mb-8">
  <% if @contests.present? %>
    <div class="overflow-y-auto">
      <ul role="list" class="-mb-8 px-6">
        <%= render partial: "contest_item", collection: @contests[0..-2], as: :contest %>
        <%= render partial: "contest_item", locals: { contest: @contests.last, include_line: false } %>
      </ul>
    </div>
  <% end %>
</div>
<div class="flex flex-col flex-grow justify-end px-6 pb-8 space-y-4">
  <%= link_to "New match", new_contest_path, class: "btn-primary w-full sm:w-48 sm:mx-auto" %>
  <%= link_to "Back to rankings", root_path, class: "btn-secondary w-full sm:w-48 sm:mx-auto" %>
</div>
