<div class="flex flex-col">
  <div class="py-2 text-center">Match code: <%= code %></div>
  <div class="py-2 text-center"><%= raw svg %></div>
  <div class="py-2 text-center">
    <% if user_signed_in? %>
      <%= button_to "Join from this device",
                    url,
                    class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded",
                    data: { turbo_frame: "participants_list" }
      %>
    <% else %>
      <%= link_to 'Log in to join from this device',
                    new_user_session_path,
                    class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4'
      %>
  <% end %>
  </div>
  <%= turbo_frame_tag "participants_list_#{code}" do %>
  <% end %>
</div>
