<%# locals: (user:, index:, background_class: nil) %>

<li class="flex items-center px-6 py-4 text-lg gap-4 <%= background_class %>">
  <div class="flex flex-grow items-center gap-4">
    <div class="font-semibold w-6"><%= index + 1 %></div>
    <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full">
      <% if user.photo.attached? %>
        <%= image_tag user.photo.representation(resize_to_limit: [40, 40]), class: "w-full h-full object-cover" %>
      <% else %>
        <span class="font-medium text-gray-600"><%= user.name.split.map(&:first).join %></span>
      <% end %>
    </div>
    <div class="font-semibold w-[calc(100vw-15rem)] sm:w-52 whitespace-nowrap overflow-hidden truncate"><%= user.name %></div>
  </div>
  <div class="w-20 text-right"><%= user.score %> pts</div>
</li>
