<div class="flex flex-col justify-center text-4xl font-extrabold tracking-[-0.04em] text-center h-50 py-8">
  Leaderboard
</div>
<div class="flex flex-col flex-grow overflow-y-auto mb-8">
  <div class="overflow-y-auto">
    <ul role="list" class="divide-y divide-gray-200">
      <% @users.each_with_index do |user, index| %>
        <li class="flex items-center px-6 py-4 text-lg gap-4">
          <div class="flex flex-grow items-center gap-4">
            <div class="font-semibold w-6"><%= index + 1 %></div>
            <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full">
              <span class="font-medium text-gray-600 dark:text-gray-300"><%= user.name.split.map(&:first).join %></span>
            </div>
            <div class="font-semibold w-[calc(100vw-15rem)] sm:w-52 whitespace-nowrap overflow-hidden truncate"><%= user.name %></div>
          </div>
          <div class="w-20 text-right"><%= user.score %> pts</div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="flex flex-col flex-grow justify-end px-6 pb-8 space-y-4">
  <%= link_to "New race", new_contest_path, class: "btn-primary w-full sm:w-48 sm:mx-auto" %>
  <%= link_to "History", contests_path, class: "btn-secondary w-full sm:w-48 sm:mx-auto" %>
</div>
