<% if current_user %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <br>
  <%= link_to "New race", new_contest_path %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.score %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<% end %>
