<% if @players.present? %>
  <div class="flex flex-col justify-center text-4xl font-extrabold tracking-[-0.04em] text-center h-50 px-6 py-8">
    <%= @current_game.title %> Rankings
  </div>
  <div class="flex flex-col flex-grow overflow-y-auto mb-8">
    <div class="overflow-y-auto">
      <ul role="list" class="divide-y divide-gray-200">
        <% @players.each_with_index do |player, index| %>
          <% if player.user == current_user %>
            <%= render partial: "player_item",
                       locals: {
                         user: player.user,
                         score: player.score,
                         index: index,
                         background_class: "bg-slate-200" }
            %>
          <% else %>
            <%= render partial: "player_item",
                       locals: {
                         user: player.user,
                         score: player.score,
                         index: index
                       }
            %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="flex flex-col flex-grow justify-end text-4xl font-extrabold tracking-[-0.04em] text-center px-6 py-8">
    Add a match to get started!
  </div>
<% end %>


<div class="flex flex-col flex-grow justify-end px-6 pb-8 space-y-4">
  <%= link_to "New match", new_contest_path, class: "btn-primary w-full sm:w-48 sm:mx-auto" %>
  <%= link_to "History", contests_path, class: "btn-secondary w-full sm:w-48 sm:mx-auto" %>
</div>
