<%= form_with model: @player, url: run_player_path(@player.run, @player), class: "flex flex-col h-screen" do |f| %>
  <div class="basis-1/2 flex flex-row flex-grow items-end">
    <%= f.label :position, class: "sr-only" %>
    <%= f.number_field :position,
                       required: true,
                       min: Player::MIN_POSITION,
                       max: Player::MAX_POSITION,
                       class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 mb-4",
                       placeholder: Player.human_attribute_name(:position)
    %>
  </div>
  <% @player.errors.full_messages.each do |message| %>
    <div class="flex mt-2 text-sm text-red-600"><%= message %></div>
  <% end %>
  <div class="basis-1/2 flex flex-row items-end justify-center">
    <div class="w-full">
      <%= f.submit class: "btn--primary" %>
    </div>
  </div>
<% end %>
