<!DOCTYPE html>
<html>
<head>
  <title>Kartboard</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="h-screen">
  <header class="text-white p-4 flex justify-between items-center w-full h-16">
    <%= render 'layouts/header' %>
  </header>

  <main class="container h-[calc(100%-8rem)] flex flex-grow flex flex-col pt-4 pb-8 px-6 overflow-y-auto">
    <%= yield %>
  </main>

  <footer class="bg-gray-200 text-white flex justify-between items-center w-full h-16">
    <%= render 'layouts/footer' %>
  </footer>
</div>
</body>
</html>
