<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kartboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="flex flex-col h-dvh overflow-hidden">
    <header class="flex justify-between items-center p-4 w-full mx-auto max-w-7xl h-16">
      <%= render "layouts/header" %>
    </header>

    <main class="flex flex-col overflow-y-auto w-full max-w-7xl h-[calc(100%-4rem)] mt-16 mx-auto ">
      <%= yield %>
    </main>
  </div>
  </body>
</html>
